.logo {
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
  }
  
  .entireBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F05D23;
  }
  
  li {
    float: left;
    display: inline;
  }
  
  li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    background-color: #8963BA;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6BD425;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
  .dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-content ul li {
    width: 100%;
    text-align: center;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .hamburger {
    display: none; 
    cursor: pointer;
    padding: 15px;
    float: left;
    background-color: #F05D23;
    border: none;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 999; 
  }
  
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #6BD425;
    margin: 6px 0;
  }

  @media only screen and (max-width: 728px) {
    .hamburger {
      display: block;
    }
  
    .entireBar {
      display: block; 
    }
   
    .dropdown-content {
      position: relative; 
      background-color: #6BD425;
      top: 100%;
      left: 0;
      width: 100%;
    }
    .navbar ul li {
      display: block;
    }

    .navbar ul li a:hover {
      background-color: #8963BA;
    }
    .dropdown-content ul li {
      text-align: left;
      display: block; 
    }
  
    .navbar.active .entireBar {
      display: block;
    }
   
    .navbar .dropdown.active .dropdown-content {
      display: block;
    }
  }