
  nav {
    width: 100%;
    background-color: #F05D23;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;

}

nav ul li {
    list-style: none;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    border-right: 1px solid #fff;

}

nav ul li a {
    text-decoration: none;
    padding: 0 20px;
    color: #8963BA;
    font-size: 1rem;
    font-weight: bold;
}



nav ul li ul {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    display: block;
    width: 200px;
    visibility: hidden;


}

nav ul li:hover {
    background-color: white;

}

nav ul li:hover ul {
    background-color: #F62DAE;
    visibility: visible;
    padding-top: 0;
    margin-top: 0;
}

nav ul li a:hover {
    color: #6BD425;
}

nav ul li:hover ul a {
    color: #6BD425;
}

nav ul li:hover ul li {
    color: white;
}




nav ul li ul li {
    border-bottom: 1px solid white;
}

#hamburger, #ham {
    display: none;
}


@media only screen and (max-width: 640px) {

    #ham{
        height: 45px;
        display: block;
        cursor: pointer;
    }

    nav {
        display: none;
    }


    #hamburger:checked+nav {
        display: block;

    }

    nav ul {
        flex-direction: column;
        align-items: center; 
    }

}




