.resume-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8963BA;
    color: #000;  
    border: 2px solid #8963BA;
    border-radius: 35px;
}

.resume-link:hover {
    background-color: #694794; 
    border-color: #694794; 
}
h1 {
    color: #000;
    font-family: verdana;
    font-size: 300%;
    text-align: center; 
} 
  h2{
      color: #000
      font-family: Bordini;
      font-size: 200%;
}
  p  {
    color: #000;
    font-family: courier new;
    font-size: 160%;
}