.resume-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8963BA;
    color: #000;  
    border: 2px solid #8963BA;
    border-radius: 35px;
}

.resume-link:hover {
    background-color: #F05D23; 
    border-color: #F05D23; 
}

h1 {
    color: #000;
    font-family: verdana;
    font-size: 200%;
    padding-top: 40px;
    text-align: center; 
} 

h2 {
      color: #000
      font-family: georgia;
      font-size: 100%;
}

p {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

.box {
    background-color: #8963BA;
    width: relative;
    border: 15px solid #F62DAE;
    padding: 50px;
    margin: 20px;
    border-radius: 35px;
  }

 p.indent {
    text-indent: 30pt;
}

p.bigLetter::first-letter {
    color: #F62DAE;
    font-size: 250%;
}

@media print {
    body,
    h1,
    p,
    ul,
    ol,
    blockquote,
    footer {
      color: black;
    }
    
    @font-face {
      font-family: 'Workbench';
      font-style: normal;
      font-weight: 400;
      src: local('Workbench Regular'), local('Workbench-Regular'),
          url('https://fonts.gstatic.com/s/workbench/v11/LYjbdGbiklMoFIHNyTz0pEz5cO8Mk0o.woff2') format('woff2'),
          url('https://fonts.gstatic.com/s/workbench/v11/LYjbdGbiklMoFIHNyTz0pEz5cO8Mk0o.woff') format('woff');
    }

    h1 {
      font-family: 'Workbench', sans-serif;
    }

    body,
    p,
    ul,
    ol,
    blockquote,
    footer {
      font-family: garamond;
    }
  


  }

    body {
      margin: 0.5in;
    }
  

    h1,
    p,
    ul,
    ol,
    blockquote,
    footer {
      page-break-inside: avoid; 
    }
  }
  